<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #5eaa46;
    color: white;
    font-weight: 600;
    flex-wrap: wrap;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

 


  .trans-color {
    color: #effaf3;
    font-weight: 600;
    font-size: 17px;
  }


  .time {
    font-size: 13px;
    font-weight: bold;
  }

  /* Responsive Styles */
 
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div
  class="toolbar-row"
  style="width: 100%; display: flex; justify-content: space-between"
>
<span style="margin-left: 8px;">No SIM</span>
  <!-- <img src="../assets/signal.svg" /> -->
  <div style="text-align: center">
    <p class="time">1:16 PM</p>
  </div>
  <span style="margin-right: 10px;">90%</span>
  <!-- <img src="../assets/icons8-full-battery-30.png" width="30px" /> -->


</div>
  
  <div
    class="toolbar-row"
    style="width: 100%; display: flex; justify-content: space-between"
  >
    <img src="../assets/close.svg" />
    <div style="text-align: center">
      <p class="trans-color">Transaction Successful</p>
      <p style="font-size: 14px; color: #bff8ab">29 December 2022 At 1:16 PM</p>
    </div>
    <!-- <div class="spacer"></div> -->
    <img src="../assets/share.svg" width="30px" />
  </div>
</div>

<div class="main" style="margin-top: 80px">
  <div class="card mb">
    <div class="content">
      <div class="row">
        <span class="text"> Transaction ID </span>
      </div>
      <div class="row">
        <div class="col-8">
          <span class="text2"> T0987654321234567890098765 </span>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
          <span class="btn-txt">Copy</span>
        </div>
      </div>
    </div>
  </div>

  <!-- sent to whom details -->

  <div class="card mb">
    <div class="content">
      <h4 class="card-title paid-to-text">Paid To</h4>
      <div class="row">
        <div class="col-2">
          <img src="./../../assets/phonepe.png" width="48px" />
        </div>
        <div class="col-7" style="margin-top: -8px">
          <p class="text mb-0 user-name">{{ name }}</p>
          <p class="user-id fw-500">2354323456</p>
        </div>
        <div class="col-3">
          <span class="text rupee"> <span class="rupee"> &#x20b9;</span> 1,000</span>
        </div>
      </div>

      <div class="two-btns">
        <span class="btn-txt mr ff">SEND AGAIN</span>
        <span class="btn-txt">SAVE CONTACT</span>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
    </div>
  </div>

  <!-- Bank details -->

  <div class="card mb">
    <div class="content">
      <h4 class="card-title paid-to-text ">Debited From</h4>
      <div class="row">
        <div class="col-2">
          <img src="./../../assets/sbi.png" width="48px" />
        </div>
        <div class="col-7">
          <span class="bank-text-first"> IDFC Bank first - 9700 </span>
        </div>
        <div class="col-3">
          <span class="text rupee"> <span class="rupee"> &#x20b9;</span> 1,000</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-7  bank-text-sec">UTR: 124321234567</div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>

  <!-- Last card support -->

  <div class="card mb">
    <div class="content" >
      <img src="./../../assets/help.png" class="img2" />

      <span class="contact-text" style="margin-left: 1rem; font-size: 16px">
        Contact PhonePe Support
      </span>
    </div>
  </div>

  <!-- powered By footer -->

  <div style="display: flex; flex-direction: column">
    <span class="powered"> Powered By </span>
    <div class="text-center" style="margin-top: -1rem;">
      <img src="./../../assets/upi.png" class="img" />
      <img src="./../../assets/yes2.png" class="img" />
    </div>
  </div>
</div>
