.main {
    max-width: 120rem;
    padding: 0 0.25rem;
    margin: 0 auto;
}

.mb {
    margin-bottom: 0.3rem !important;
}

.card {
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}
.content {
    padding: 1rem;
}
.text {
    color: #2f2f2f;
    font-weight: bold;
}
.text2 {
    color: #222222;
    font-weight: bold;
}

.btn-txt {
    color: #66378a;
    font-weight: bolder;
    font-size: 14px;
}

.powered {
    text-align: center;
    color: #85828c;
    font-weight: 600;
    font-size: 1rem;
}

.img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}

.text-center {
    text-align: center;
}

.img2 {
    width: 28px;
}

.mr {
    margin-right: 1rem;
}

.two-btns {
    float: right;
    margin-top: .5rem;
}

.paid-to-text {
    font-size: 15px;
    font-weight: bold;
}

.user-id {
    color: #767676;
    font-size: 1.1rem;
}

.user-name {
    font-size: 21px;
}

.rupee {
    font-size: 18px;
}

.fw-500 {
    font-weight: 500;
}

.ff {
    font-family: 'Oswald', sans-serif;
}

.bank-text-first {
    color: #181818;
    font-weight: bold;
    font-size: 1rem;
}

.bank-text-sec {
    color: #343434;
    font-weight: bold;
    font-size: 12px;
}

.contact-text {
    color: #333333;
    font-weight: 600;
}
