<div class="main" style="margin-top: 70px">
  <div class="card mb">
    <div class="content">
      <div class="row">
        <span class="text"> Transaction ID </span>
      </div>
      <div class="row">
        <div class="col-8">
          <span class="text2"> T0987654321234567890098765 </span>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
          <span class="btn-txt">Copy</span>
        </div>
      </div>
    </div>
  </div>

  <!-- sent to whom details -->

  <div class="card mb">
    <div class="content">
      <h4 class="card-title">Paid To</h4>
      <div class="row">
        <div class="col-3">
          <img src="./../../assets/sbi.png" height="22px" />
        </div>
        <div class="col-6">
          <span class="text"> {{name}} </span>
        </div>
        <div class="col-3">
          <span class="text"> <span style="font-size: 1rem;"> &#x20b9;</span>
             1,000</span>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">UTR: 124321234567</div>
        <div class="col-3"></div>
      </div>
      <div class="two-btns">
        <span class="btn-txt mr">Send Again</span>
        <span class="btn-txt">Save contact</span>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
    </div>
  </div>

  <!-- Bank details -->

  <div class="card mb">
    <div class="content">
      <h4 class="card-title">Debited From</h4>
      <div class="row">
        <div class="col-3">
          <img src="./../../assets/sbi.png" height="22px" />
        </div>
        <div class="col-6">
          <span class="text"> IDFC Bank first - 9700 </span>
        </div>
        <div class="col-3">
          <span class="text"> <span style="font-size: 1rem;"> &#x20b9;</span> 1,000</span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">UTR: 124321234567</div>
        <div class="col-3">
        </div>
      </div>
    </div>
  </div>

  <!-- Last card support -->

  <div class="card mb">
    <div class="content">
      <img src="./../../assets/help.png" class="img2" />

      <span class="text" style="margin-left: 1.5rem; font-size: 18px">
        Contact PhonePe Support
      </span>
    </div>
  </div>

  <!-- powered By footer -->

  <div style="display: flex; flex-direction: column">
    <span class="powered"> Powered By </span>
    <div class="text-center">
      <img src="./../../assets/upi.png" class="img" />
      <img src="./../../assets/yes2.png" class="img" />
    </div>
  </div>
</div>
