<div class="main" style="margin-top: 70px">
  <div class="card mb">
    <div class="content">
      <div class="row">
        <span class="text"> Transaction ID </span>
      </div>
      <div class="row">
        <div class="col-8">
          <span class="text2"> T0987654321234567890098765 </span>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
          <span class="btn-txt">Copy</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb">
    <div class="content">
      <div class="row">
        <span class="text"> Transaction ID </span>
      </div>
      <div class="row">
        <div class="col-8">
          <span class="text2"> T0987654321234567890098765 </span>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
          <span class="btn-txt">Copy</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb">
    <div class="content">
      <div class="row">
        <span class="text"> Transaction ID </span>
      </div>
      <div class="row">
        <div class="col-8">
          <span class="text2"> T0987654321234567890098765 </span>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
          <span class="btn-txt">Copy</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb">
    <div class="content">
      <div class="row">
        <span class="text"> Transaction ID </span>
      </div>
      <div class="row">
        <div class="col-8">
          <span class="text2"> T0987654321234567890098765 </span>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
          <span class="btn-txt">Copy</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Last card support -->

  <div class="card mb">
    <div class="content">
      <div class="row">
        <span class="text"> Transaction ID </span>
      </div>
      <div class="row">
        <div class="col-8">
          <span class="text2"> T0987654321234567890098765 </span>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
          <span class="btn-txt">Copy</span>
        </div>
      </div>
    </div>
  </div>

  <!-- powered By footer -->

  <div style="display: flex; flex-direction: column">
    <span class="powered"> Powered By </span>
    <div class="text-center">
      <!-- <img src="./../../assets/UPI.webp" /> -->
      <img src="./../../assets/upi.png" class="img" />
      <img src="./../../assets/yes2.png" class="img" />
    </div>
  </div>
</div>
